/* Clock */

#clockContainer
{
    position: relative;
    height: 30vw;
    width: 30vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
}

#clock
{
    height: 300px;
    width: 300px;
}

#hour, #minute, #second
{
position: absolute;
background-color: rgb(31, 32, 32);
border-radius: 10px;
transform-origin: bottom;

}
#hour
{
    top: 30%;
    left: 49.68%;
    /* opacity: 1; */
    height: 20%;
    width: 1.5%;
    /* background-color: aqua; */
    /* display: none; */
}

#minute
{
    top: 22%;
    left: 49.7%;
    height: 28%;
    width: 1.3%;
    /* background-color: bisque; */
    /* display: none; */
}

#second
{
    top: 20%;
    left: 49.7%;
    height: 30%;
    width: 1%;
    /* background-color: rgb(19, 250, 115); */
    /* display: none; */
}